<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Plataformas digitais para barbearias, otimização de operações, agendamento online, visibilidade e personalização de marca.">
    <meta name="author" content="BarberSites">
    <meta name="keywords" content="barbearia, agendamento online, plataforma digital, gestão barbearia, marketing digital barbearia, Yocale, Noona, Barberly, SimplyBook.me">
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <title>BarberSites</title>
 
</head>
<body>
    <header>
      convite para entrar no barbersite
    </header>
    
    <main>
        principal  
        banner 
        cards dos planos
    
    </main>
    
    <footer>

        instagram whatsapp facebook X  
        <p>&copy; 2023 BarberSites. Todos os direitos reservados.</p>
    </footer>
    
    <script src="scripts.js"></script> </body>
</html>