
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarberSites</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
</head>

<body class="bg-dark text-white" style="padding-top: 80px;">
    <div class="container-fluid bg-dark py-3 border-bottom border-secondary fixed-top">
        <div class="container d-flex justify-content-start align-items-center">
            <h4 class="text-white mb-0">BarberSites</h4>
        </div>
    </div>

    <div class="container-fluid bg-dark py-5 pt-header-offset">
        <div class="container">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bold text-white">
                    <span class="text-warning">Finalize sua Compra</span> e Transforme sua Barbearia
                </h1>
                <p class="fs-5 text-secondary">Preencha seus dados para ter acesso aos nossos templates premium.</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-6 mb-4">
            <div class="card p-4 shadow-lg" style="background-color: #F8F4E3; border-radius: 15px;">
                <div class="card-body text-dark">
                    <h5 class="card-title fw-bold mb-4">Informações de Cadastro</h5>
                    <p class="card-text text-secondary mb-4">Preencha seus dados para finalizar a compra</p>

                    <form>
                       
                       
                        

                        <h5 class="card-title fw-bold mb-4">Informações da Barbearia</h5>
                        <div class="mb-3">
                            <label for="nomeBarbearia" class="form-label">Nome da Barbearia <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nomeBarbearia"
                                placeholder="Nome da sua barbearia" required>
                        </div>
                  

                        <h5 class="card-title fw-bold mb-4">Endereço da Barbearia</h5>
                        <div class="mb-3">
                            <label for="endereco" class="form-label">Endereço Completo <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="endereco" placeholder="Rua, número, complemento"
                                required>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cidade" class="form-label">Cidade <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="cidade" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="estado" class="form-label">Estado <span class="text-danger">*</span></label>
                                <select class="form-select" id="estado" required>
                                    <option selected disabled value="">Selecione</option>
                                    <option>AC</option>
                                    <option>AL</option>
                                    <option>AP</option>
                                    <option>AM</option>
                                    <option>BA</option>
                                    <option>CE</option>
                                    <option>DF</option>
                                    <option>ES</option>
                                    <option>GO</option>
                                    <option>MA</option>
                                    <option>MT</option>
                                    <option>MS</option>
                                    <option>MG</option>
                                    <option>PA</option>
                                    <option>PB</option>
                                    <option>PR</option>
                                    <option>PE</option>
                                    <option>PI</option>
                                    <option>RJ</option>
                                    <option>RN</option>
                                    <option>RS</option>
                                    <option>RO</option>
                                    <option>RR</option>
                                    <option>SC</option>
                                    <option>SP</option>
                                    <option>SE</option>
                                    <option>TO</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="cep" class="form-label">CEP <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="cep" placeholder="00000-000" required>
                        </div>

                        

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="termosUso" required>
                            <label class="form-check-label text-secondary" for="termosUso">
                                Aceito os <a href="#" class="text-decoration-none text-dark fw-bold">Termos de
                                    Uso</a> e <a href="#" class="text-decoration-none text-dark fw-bold">Política de
                                    Privacidade</a>.
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" id="notificacoes">
                            <label class="form-check-label text-secondary" for="notificacoes">
                                Autorizo o envio de e-mails com novidades, promoções e conteúdos exclusivos
                                sobre templates e marketing para barbearias.
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="sticky-top" style="top: 20px;">
                <div class="card p-4 shadow-lg" style="background-color: #F8F4E3; border-radius: 15px;">
                    <div class="card-body text-dark">
                        <h5 class="card-title fw-bold mb-4">Escolha seu Plano</h5>
                        <div class="mb-3">
                            <div class="card mb-4">
                                <div class="card-header">
                                    Detalhes do Plano Selecionado
                                </div>
                                <div class="card-body">
                                  
                                    <h5 class="card-title">Plano - {{ plano_selecionado.nome_plano }}</h5>
                                    <p class="card-text">
                                        Valor: R$ {{ plano_selecionado.valor|floatformat:2 }} <br> 
                                        O que ele oferece:O plano {{ plano_selecionado.descricao|default:"Sem descrição." }} 
                                    </p>
                                
                                </div>
                            </div>
                    
                            <h2 class="mb-3">Informações de Pagamento</h2>
                            <form>
                                <div class="mb-3">
                                    <label for="planoSelecionado" class="form-label">Mudar Plano</label>
                                    <select class="form-select" id="planoSelecionado" name="plano">
                                        {% for plano in todos_os_planos %}
                                            <option value="{{ plano.id }}" {% if plano.id == plano_selecionado.id %}selected{% endif %}>
                                                {{ plano.nome_plano }} - R$ {{ plano.valor|floatformat:2 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="nomeCompleto" class="form-label">Nome Completo</label>
                                    <input type="text" class="form-control" id="nomeCompleto" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="fone" class="form-label">Telefone</label>
                                    <input type="fone" class="form-control" id="fone" required>
                                </div>
                              
                                <button type="submit" class="btn btn-success btn-lg">Pagar R$ **{{ plano_selecionado.valor|floatformat:2 }}**</button> {# <-- Alterado aqui #}
                            </form>
                    
                            <p class="mt-5 text-center">
                                <a href="{% url 'home' %}" class="btn btn-secondary">Voltar para a página inicial</a>
                            </p>
                        </div>

                        <p class="text-center text-secondary small mb-0">Pagamento seguro via Stripe</p>
                        <p class="text-center text-secondary small">Garantia de 30 dias ou dinheiro de volta</p>
                    </div>
                </div>
                <div class="card p-4 shadow-lg mt-4" style="background-color: #2b2b2b; border-radius: 15px;">
                    <div class="card-body text-white">
                        <h5 class="card-title fw-bold mb-3">Precisa de Ajuda?</h5>
                        <p class="card-text text-secondary mb-3">Fale conosco via WhatsApp</p>
                        <a href="https://wa.me/seu_numero" target="_blank" class="btn btn-success w-100 fw-bold">
                            <i class="fab fa-whatsapp me-2"></i> Fale Conosco
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <div class="container-fluid bg-dark py-3 border-top border-secondary">
        <img src="facebook.png" width="30" height="30" class="me-2" alt="Facebook">a
        <div class="container d-flex justify-content-between align-items-center">
            <p class="text-white mb-0">BarberPro Templates</p>
            <p class="text-secondary mb-0">&copy; 2024 BarberPro Templates. Todos os direitos reservados.</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>